02-Robot/.local/AllDependencies.json
.gitignore
02-Robot/.local/PackageBindingsMetadata.json
02-Robot/.local/PackageCache.json
02-Robot/.local/ProjectHousing.nuget.props
02-Robot/.local/ProjectSettings.json
02-Robot/.local/db/references.db
02-Robot/.local/nuget.cache
