02-Robot/.local/AllDependencies.json
02-Robot/.local/PackageCache.json
02-Robot/.local/ProjectHousing.nuget.props
02-Robot/.local/ProjectSettings.json
02-Robot/.local/nuget.cache
02-Robot/creation_rapport/creation_rapport.xaml
